<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

   <!-- <link href="../../static/css/guru.css"
          th:href="@{css/guru.css}" rel="stylesheet" media="screen"/> -->
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">PM Best Practices</a>
                </div>

                <ul class="nav navbar-nav">
                    <li><a href="#" th:href="@{/goals}"><strong>Explore Goals By Context</strong></a></li>
                    <li><a href="#" th:href="@{/insertion}"><strong>Insertion</strong></a></li>
                    <li ><a href="#" th:href="@{/help}"><strong>Help</strong>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Log IN</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>
</html>