<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Process Mining</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>Welcome Process Miner Passionate</h2>
    <p> This Application is a simple platform that offers the process mining practioners the possibility to explore the literature of PM application.
        <br>The main interest of the platform is to help the practioner to choose the initial elements necessary to conduct a process mining projects.</p>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>