<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>Use case insertion form</title>
    <script src="../../static/js/form.js"
          th:src="@{js/form.js}" rel="stylesheet" media="screen"></script>
    <div th:replace="fragments/headerinc :: head"/>

</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"/>
    <div class="well well-sm">This page enables the PM practioner to provide some informations about a use case that he have performed. Those information presents the backbone of our work since they are used to fill our SLR database which can be queried later in the Context to Goals Section  </div>
    <form class="form-horizontal" id="ins" th:object="${insForm}" th:action="@{/newInsertion}" method="post" >
        <fieldset>
            <div class="form-group">
                <label class="col-md-4 control-label" for="article_name">Article Title</label>
                <div class="col-md-4">
                    <input id="article_name" name="article_title" placeholder="ARTICLE TITLE" class="form-control input-md" required="" type="text" th:field="*{title}" th:value="*{title}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="article_year">Publishing Year</label>
                <div class="col-md-4">
                    <input id="article_year" name="article_year" placeholder="ARTICLE Year" class="form-control input-md" required="" type="year" th:field="*{year}" th:value="*{year}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="contribution_string">Contribution</label>
                <div class="col-md-4">
                    <input id="contribution_string" name="contribution_string" placeholder="CONTRIBUTION STRING" class="form-control input-md" required="" type="text" th:field="*{contribution}" th:value="*{contribution}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="contribution_type">Contribution Type</label>
                <div class="col-md-4">
                    <input id="contribution_type" name="contribution_type" placeholder="CONTRIBUTION TYPE" class="form-control input-md" required="" type="text" th:field="*{appType}" th:value="*{appType}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="context_sysname">Information System name</label>
                <div class="col-md-4">
                    <input id="context_sysname" name="context_sysname" placeholder="System Name" class="form-control input-md" required="" type="text" th:field="*{sysName}" th:value="*{sysName}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="context_systype">Information System nature</label>
                <div class="col-md-4">
                    <select multiple id="context_systype" name="context_systype" class="form-control" th:field="*{sysType}" th:value="*{sysType}">
                        <option value="TRANSACTIONAL">TRANSACTIONAL</option>
                        <option value="ANALYTICAL">ANALYTICAL</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="context_sector">Sector</label>
                <div class="col-md-4">
                    <select id="context_sector" name="context_sector" class="form-control" th:field="*{sector}" th:value="*{sector}">
                        <option value="Audit">Audit</option>
                        <option value="Manufacturing">Manufacturing</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="context_input">Input</label>
                <div class="col-md-4">
                    <input id="context_input" name="context_input" placeholder="What does the application take as an input ?" class="form-control input-md" required="" type="text" th:field="*{input}" th:value="*{input}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="context_format">Format</label>
                <div class="col-md-4">
                    <input id="context_format" name="context_format" placeholder="Event Log Format" class="form-control input-md" required="" type="text" th:field="*{format}" th:value="*{format}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="context_lsize">Event Log Size</label>
                <div class="col-md-4">
                    <input id="context_lsize" name="context_sysname" placeholder="N Traces/N Event/N Atrribute" class="form-control input-md" required="" type="text" th:field="*{lsize}" th:value="*{lsize}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="context_lsource">Event Log Source</label>
                <div class="col-md-4">
                    <input id="context_lsource" name="context_lsource" placeholder="EVENT LOG SOURCE" class="form-control input-md" required="" type="text" th:field="*{lsource}" th:value="*{lsource}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="context_usertype">User Expertise</label>
                <div class="col-md-4">
                    <select id="context_usertype" name="context_usertype" class="form-control form-control-sm" th:field="*{userType}" th:value="*{userType}">
                        <option value="TYPE 1">TYPE 1</option>
                        <option value="TYPE 2">TYPE 2</option>
                        <option value="TYPE 3">TYPE 3</option>
                    </select>
                </div>
            </div>
            <hr>
            <div id="cont">
            <div class="form-group" id="gqmform" th:if="${not #lists.isEmpty(insForm.goalMetrics)}">
                <table th:each="gm,stat:*{goalMetrics}" >

                    <tr >
                    <div class="row">
                            <label class="col-md-4 control-label" for="goal_intention">Intention</label>
                            <div class="col-md-4">
                                <input id="goal_intention" name="goal_intention" placeholder="EVENT LOG SOURCE" class="form-control input-md" type="text" th:field="*{goalMetrics[__${stat.index}__].intention}"  >
                            </div>
                    </div>
                    </tr>
                    <br>
                    <tr>
                        <div class="row">
                           <label class="col-md-4 control-label" for="goal_target">Target</label>
                            <div class="col-md-4">
                            <select id="goal_target" name="gaol_target" class="form-control form-control-sm" th:field="*{goalMetrics[__${stat.index}__].target}" th:value="*{goalMetrics[__${stat.index}__].target}">
                                <option value="PM">PM</option>
                                <option value="Business">Business</option>
                            </select>
                                </div>
                        </div>
                    </tr>
                    <br>
                    <tr>
                        <div class="row">
                            <label class="col-md-4 control-label" for="goal_tool">Tool</label>
                            <div class="col-md-4">
                                <input id="goal_tool" name="goal_tool" placeholder="Use <,> if this many tools serves the same purpose" class="form-control input-md"  type="text" th:field="*{goalMetrics[__${stat.index}__].toolU}" >
                            </div>
                        </div>
                    </tr>
                    <br>
                    <tr>
                        <div class="row">
                            <label class="col-md-4 control-label" for="goal_plugin">Plugin</label>
                            <div class="col-md-4">
                                <input id="goal_plugin" name="goal_plugin" placeholder="Use <,> if this many plugins generates the same outputs" class="form-control input-md" type="text" th:field="*{goalMetrics[__${stat.index}__].plugin}" >
                            </div>
                        </div>
                    </tr>
                    <br>
                    <tr>
                        <div class="row">
                            <label class="col-md-4 control-label" for="goal_category">Category</label>
                            <div class="col-md-4">
                                <select id="goal_category" name="goal_category" class="form-control form-control-sm" th:field="*{goalMetrics[__${stat.index}__].category}" th:value="*{goalMetrics[__${stat.index}__].category}">
                                    <option value="Discovery">Discovery</option>
                                    <option value="Enhancement">Enhancement</option>
                                    <option value="Conformance Checking">Conformance Checking</option>
                                    <option value="Analytic">Analytic</option>
                                </select>
                            </div>
                        </div>
                    </tr>
                    <br>
                    <tr>
                        <div class="row">
                            <label class="col-md-4 control-label" for="goal_filter">Filtering</label>
                            <div class="col-md-4">
                                <input id="goal_filter" name="goal_output" placeholder="YES/NO+plugin if mentioned" class="form-control input-md"  type="text" th:field="*{goalMetrics[__${stat.index}__].filtering}" >
                            </div>
                        </div>
                    </tr>
                    <br>
                    <tr>
                        <div class="row">
                            <label class="col-md-4 control-label" for="goal_output">Outputs</label>
                            <div class="col-md-4">
                                <input id="goal_output" name="goal_output" placeholder="Use <,> if this many outputs were generated" class="form-control input-md"  type="text" th:field="*{goalMetrics[__${stat.index}__].outputs}" >
                            </div>
                        </div>
                    </tr>
                    <br>
                    <tr>
                        <div class="row">
                            <label class="col-md-4 control-label" for="goal_problem">Reported Issues</label>
                            <div class="col-md-4">
                                <input id="goal_problem" name="goal_problem" placeholder="Reported Issues" class="form-control input-md"  type="text" th:field="*{goalMetrics[__${stat.index}__].problem}" >
                            </div>
                        </div>
                    </tr>
                    <br>
                    <hr>
                </table>

            </div>
            </div>
            <br><br>
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">

              <!--  <button type="button" class="btn btn-default btn-sm"   id="addbutton" th:value="${insForm.addGoalMetrics()}">
                    <span class="glyphicon glyphicon-plus" ></span> Add Goals   </button> -->

                <button class="btn btn-md btn-default" type="reset">Reset fields</button>
                <button type="submit" class="btn btn-md btn-default" ><span class="glyphicon glyphicon-send"></span> Submit</button>
            </div>
            <br><br>
        </fieldset>
    </form>


</div>
<div th:replace="fragments/footer :: footer"/>
<script>
    $(function(){
$("#addbutton").click(function(event){
$("#cont").load(window.location.href+" #cont")
event.preventDefault();
} )
})
</script>
</body>
</html>